<% var encodedUrl = encodeURIComponent(url) %>

<div id="article-share-box-<%- id %>" class="article-share-box">
    <input class="article-share-input" value="<%- url %>">
    <div class="article-share-links">
      <a href="https://twitter.com/intent/tweet?url=<%- encodedUrl %>" class="article-share-twitter" target="_blank" title="Twitter">
          <%- fa_inline('twitter', {prefix: 'fab'}) %>
      </a>
      <a href="https://www.facebook.com/sharer.php?u=<%- encodedUrl %>" class="article-share-facebook" target="_blank" title="Facebook">
          <%- fa_inline('facebook', {prefix: 'fab'}) %>
      </a>
      <a href="http://pinterest.com/pin/create/button/?url=<%- encodedUrl %>" class="article-share-pinterest" target="_blank" title="Pinterest">
          <%- fa_inline('pinterest', {prefix: 'fab'}) %>
      </a>
      <a href="https://plus.google.com/share?url=<%- encodedUrl %>" class="article-share-google" target="_blank" title="Google+">
          <%- fa_inline('google-plus-g', {prefix: 'fab'}) %>
      </a>
    </div>
</div>
